* {
  margin: 0px;
  padding: 0px;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: rgb(226, 223, 218);
  margin: auto;
  max-width: 100%;
  width: 100%;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

/* header {
    text-align: left;
} */

nav {
  display: inline;
  align-self: right;
  grid-area: right;
  padding-right: 10px;
  position: relative;
  width: 20%;
  height: 20px;
  top: 25%;
  text-align: left;
}

nav > a {
  color: rgb(255, 255, 255);
  padding: 5px 15px 5px 15px;
  border-radius: 5px;
  text-decoration: none;
  font-weight:lighter;
  transition-duration: 1s;
}

nav > a:hover {
  background-color: rgb(253, 253, 252);
  color: rgb(168, 127, 127);
  text-decoration: none;
}

nav > a:active {
  color: burlywood;
}

#retangulo {
  position: fixed;
  display: grid;
  width: 100%;
  height: 8%;
  grid-template-columns: 20% auto 60%;
  grid-template-rows: 100px;
  grid-template-areas: "left center right";
  background-color: rgba(151, 150, 150, 0.55);
  border-radius: 0px 0px 30px 30px;
  transition: 0.5s;
  z-index: 99;
}

#menu {
  grid-area: right;
  width: 100%;
}

#habilidades {
  padding-bottom: 3rem;
}

footer {
  background-color: var(--cor0);
  color: black;
  text-align: center;
  font-size: 15px;
  padding: 5px;
  border-radius: 10px 10px 0px 0px;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: black;
  border-radius: 5px;
}

::-webkit-scrollbar-track {
  background-color: rgb(202, 174, 174);
}

::-webkit-scrollbar-thumb:hover {
  background-color: white;
}

main {
  margin: auto;
  margin: 0px 30px 30px 30px;

  background-color: var(--cor0);
  box-shadow: 0px 0px 10px rgba(11, 11, 11, 0.582);
  border-radius: 0px 0px 10px 10px;
  color: rgb(4, 4, 4);
}

#inicio,
#projetos {
  padding-bottom: 25px;
}

#inicio h2 {
  padding-top: 5rem;
  padding-left: 3rem;
  font-weight: lighter;
}

#inicio p {
  padding-left: 0.1rem;
}


main p {
  text-align: justify;
  font-size: 16px;
  display: block;
  margin: 20px 50px;
}

h1 {
  font-size: 28px;
  margin-left: 25px;
}

#email, #telefone, #github {
  display: inline-flex;  
  margin: 10px 30px;
}


#img3, #img4, #img5 {
    margin-right: 5px;
    width: 20px;
    height: 20px;
}


#imagemProjeto1 {
  display: inline-block;
  width: 31%;
  margin-left: auto;
  margin-right: auto;
  padding: 1%;
  transition: transform 0.2s;
}

#imagemProjeto2 {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  width: 31%;
  padding: 1%;
  transition: transform 0.2s;
}

#imagemProjeto3 {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  width: 31%;
  padding: 1%;
  transition: transform 0.2s;
}

.bloco {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  padding: 2.5%;
}

.bloco {
  display: block;
  padding: 2.5%;
}

.zoom:hover {
  transform: scale(1.2);
}

#projetos h1 {
  text-align: center;
}

.skills h1 {
  text-align: center;
}

.skills h3 {
  margin: 5px;
}

.skills {
  width: 500px;
  margin: 60px auto;
  color: #111010;
  padding: 20px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.skills li {
  margin: 20px 0;
  padding: 10px;
}

.barra {
  background: black;
  display: block;
  height: 20px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(.25, .8, .25, .1);
}

.barra:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.barra span {
  height: 20px;
  float: left;
  background: linear-gradient(135deg, rgba(21, 250, 55, 0.1)0%, rgb(101, 218, 138, 1) 100%);
}

.html {
  width: 85%;
  animation: html 3s;
}

.css {
  width: 70%;
  animation: css 3s;
}

.javascript {
  width: 50%;
  animation: javascript 3s;
}

.java {
  width: 30%;
  animation: java 3s;
}

@keyframes html {
  0%{
    width: 0%;
  }
  100% {
    width: 85%;
  }
}

@keyframes css {
  0%{
    width: 0%;
  }
  100% {
    width: 70%;
  }
}

@keyframes javascript {
  0%{
    width: 0%;
  }
  100% {
    width: 50%;
  }
}

@keyframes java {
  0%{
    width: 0%;
  }
  100% {
    width: 30%;
  }
}

li {
  list-style-type: none;
}
